openapi: 3.1.0
info:
  description: "Real-time geospatial automation platform API.\n\n## Authentication\n\
    \n**API Key:** Include `X-API-Key` header\n**JWT Token:** Include `Authorization:\
    \ Bearer <token>` header\n\n## Rate Limits\n\n- Authenticated: 1,000 requests\
    \ per hour (per API key, JWT, or session)\n- Anonymous: 100 requests per hour\n\
    \n## Webhook Verification\n\nOutbound webhooks include HMAC-SHA256 signatures\
    \ in `X-SF-Signature` header.\n\n## Support\n\n- Documentation: https://docs.spatialflow.io/\n\
    - Email: support@spatialflow.io\n    "
  title: SpatialFlow API
  version: v1.36.0
servers:
- description: Production
  url: https://api.spatialflow.io
paths:
  /api/v1/public/status:
    get:
      description: Public status endpoint with admin approval information.
      operationId: apps_public_api_status
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Status
      tags:
      - Public
  /api/v1/public/runtime-config:
    get:
      description: |-
        Get runtime configuration for frontend applications.

        This endpoint provides dynamic configuration that was previously only available
        as build-time environment variables. Allows Admin UI to control feature toggles
        without requiring frontend rebuilds.

        Response includes only safe-to-expose public configuration:
        - Feature toggles (Route Tester, admin approval)
        - Analytics configuration (enabled flag, host URL - NOT API keys)

        Note: API keys and sensitive values are NEVER returned from this endpoint.

        Rate limited: 120/minute per IP to prevent abuse while allowing frequent
        frontend polling (e.g., SPA init, tab reopens).

        Caching: Response is cached for 30 seconds to reduce database lookups.
        ConfigurationService also has its own 5-minute cache layer.
      operationId: apps_public_api_runtime_config
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeConfigOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Runtime Config
      tags:
      - Public
  /api/v1/public/signup:
    post:
      description: |-
        Register for SpatialFlow.io

        Rate limited: 10/hour per IP, 3/hour per email.
      operationId: apps_public_api_signup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Created
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Signup
      tags:
      - Public
  /api/v1/public/health:
    get:
      description: Health check endpoint for public service
      operationId: apps_public_api_health_check
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Health Check
      tags:
      - Public
  /api/v1/public/websocket-routes:
    get:
      description: |-
        Returns documentation for all available WebSocket endpoints.

        This endpoint helps developers discover and understand the WebSocket
        routes available in the SpatialFlow API.
      operationId: apps_public_api_get_websocket_routes
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocketRoutesOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Websocket Routes
      tags:
      - Public
  /api/v1/public/docs:
    get:
      description: Returns the complete OpenAPI 3.0 specification
      operationId: apps_public_api_get_api_docs
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocsOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Api Docs
      tags:
      - Public
  /api/v1/public/docs/ui:
    get:
      description: |-
        Interactive Swagger UI for exploring and testing the API

        Note: In production, this would serve an HTML page with Swagger UI.
        For now, returning a redirect to the docs endpoint.
      operationId: apps_public_api_swagger_ui
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocsUiOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Swagger Ui
      tags:
      - Public
  /api/v1/public/contact:
    post:
      description: |-
        Submit a contact/sales inquiry.

        Sends an internal notification to the sales team and a confirmation
        auto-reply to the submitter. Stateless - no database writes.

        Rate limited: 10/hour per IP, 3/hour per email.
      operationId: apps_public_api_contact_sales
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Contact Sales
      tags:
      - Public
  /api/v1/locations:
    post:
      description: |-
        Ingest a single location point.

        This endpoint accepts location updates from external systems and queues them
        for asynchronous processing with GPS jitter reduction filters.

        Devices must already be registered and active. API keys require devices:write.
        A 202 response means durable admission, including during broker outages;
        pending work is recovered automatically without charging retries again.
        Each admitted fix counts toward the monthly event quota. Usage past the quota
        never refuses a fix.

        A shift pause is enforced as on the device location routes. While the device's
        shift is paused, a fix is rejected with 400 and error_code SHIFT_PAUSED. A fix
        timestamped inside a pause is rejected with 400 and error_code PAUSED_INTERVAL,
        also after that shift has ended or a newer one has started. Each shift keeps only
        its last resume, so everything in it before that resume counts as paused, and a
        shift that ended while paused counts as paused until its end. A rejected fix is
        not stored, charged or evaluated.
        If a pause begins before an admitted fix is processed, the fix is dropped
        instead and an exact retry returns the same error. A fix outside any shift is
        admitted as usual.

        Authentication: API Key (Bearer token)
        Rate Limit: 1000 requests/minute per API key

        Returns:
            202 Accepted: Location queued for processing
            400 Bad Request: Invalid location data, or a fix from a paused shift
            401 Unauthorized: Missing or invalid API key
            429 Too Many Requests: Rate limit exceeded

        Example:
            ```bash
            curl -X POST https://api.spatialflow.io/api/v1/locations \
              -H "Authorization: Bearer sf_live_abc123..." \
              -H "Content-Type: application/json" \
              -d '{
                "device_id": "truck-005",
                "lat": 40.7589,
                "lon": -73.9851,
                "ts": "2025-10-01T14:30:00Z",
                "accuracy": 8.5
              }'
            ```
      operationId: apps_public_locations_api_ingest_location
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationPointIn'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationIngestResponse'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Ingest Location
      tags:
      - Public Location Ingest
  /api/v1/locations/batch:
    post:
      description: |-
        Ingest a batch of location points.

        Accepts up to 5000 locations per batch. Each location is validated
        and processed asynchronously as a single batch task.

        Register active devices first; API keys require devices:write. Admission
        counts each new fix toward the monthly event quota, which usage past the quota
        never refuses. A partially admitted batch returns 202 with accepted receipt IDs
        and indexed rejection errors, never a whole-request failure after accepting
        points. Exact fix retries reuse durable receipts for at least 48 hours after
        processing without another charge. Broker outages leave accepted work pending
        for automatic recovery.

        A fix from a paused shift is rejected per item with the same status and
        error_code as POST /locations (SHIFT_PAUSED or PAUSED_INTERVAL), and is not
        stored, charged or evaluated.

        **Idempotency:** If `idempotency_key` is provided, duplicate requests with the
        same key within 24 hours reuse the admission response without reprocessing.
        Terminal processing rejections, including a pause that began before a fix was
        processed, refresh the returned counts and indexed errors.

        Authentication: API Key (Bearer token)
        Rate Limit: 100 batches/minute per API key

        Returns:
            202 Accepted: Locations queued (includes counts of accepted/rejected)
            400 Bad Request: Invalid batch data
            401 Unauthorized: Missing or invalid API key
            429 Too Many Requests: Rate limit exceeded

        Example:
            ```bash
            curl -X POST https://api.spatialflow.io/api/v1/locations/batch \
              -H "Authorization: Bearer sf_live_abc123..." \
              -H "Content-Type: application/json" \
              -d '{
                "locations": [
                  {"device_id": "truck-005", "lat": 40.7589, "lon": -73.9851, "ts": "2025-10-01T14:30:00Z"},
                  {"device_id": "truck-005", "lat": 40.7590, "lon": -73.9850, "ts": "2025-10-01T14:31:00Z"}
                ],
                "idempotency_key": "batch-20251001-001"
              }'
            ```
      operationId: apps_public_locations_api_ingest_location_batch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationBatchIn'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationIngestResponse'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Ingest Location Batch
      tags:
      - Public Location Ingest
  /api/v1/locations/stats:
    get:
      description: |-
        Get location ingestion statistics for the authenticated organization.

        Authentication: API Key (Bearer token)

        Returns:
            - total_ingested_today: Total locations ingested today
            - total_ingested_week: Total locations ingested this week
            - devices_active: Number of active devices
            - last_ingest: Timestamp of last location ingestion

        Example:
            ```bash
            curl -X GET https://api.spatialflow.io/api/v1/locations/stats \
              -H "Authorization: Bearer sf_live_abc123..."
            ```
      operationId: apps_public_locations_api_get_ingest_stats
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestStatsOut'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Get Ingest Stats
      tags:
      - Public Location Ingest
  /api/v1/auth/health:
    get:
      description: Health check for authentication service.
      operationId: apps_authentication_api_health_check
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Health Check
      tags:
      - Authentication
  /api/v1/auth/login:
    post:
      description: |-
        User login endpoint.
        Returns JWT access and refresh tokens, and sets HttpOnly cookies.

        Rate limited: 60/min per IP, 15/min per email. The per-email limit was
        raised from 5/min to 15/min to reduce false lockouts from mobile retries
        on flaky networks, typos, and app restarts. IP limit remains the primary
        abuse deterrent.
      operationId: apps_authentication_api_login
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Login
      tags:
      - Authentication
  /api/v1/auth/register:
    post:
      deprecated: true
      description: |-
        DEPRECATED: User registration endpoint.

        This endpoint is deprecated and will be removed in a future version.
        Please use /api/v1/public/signup instead, which includes:
        - Admin notifications
        - Enhanced tracking and analytics
      operationId: apps_authentication_api_register
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSchema'
        required: true
      responses:
        "410":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Gone
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Register
      tags:
      - Authentication
  /api/v1/auth/refresh:
    post:
      description: |-
        Refresh access token using refresh token.
        Supports both body payload and HttpOnly cookie for refresh token.

        Rate limited: 30/min per token + 100/min per IP.
      operationId: apps_authentication_api_refresh_token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshTokenSchema'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Refresh Token
      tags:
      - Authentication
  /api/v1/auth/me:
    get:
      description: |-
        Get current authenticated user.
        Requires JWT authentication.
      operationId: apps_authentication_api_get_current_user
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Get Current User
      tags:
      - Authentication
  /api/v1/auth/logout:
    post:
      description: Logout user by revoking all access/refresh credentials and clearing
        cookies.
      operationId: apps_authentication_api_logout
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Logout
      tags:
      - Authentication
  /api/v1/auth/forgot-password:
    post:
      description: |-
        Request password reset email.

        Rate limited: 10/hour per IP, 3/hour per email.
      operationId: apps_authentication_api_forgot_password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Forgot Password
      tags:
      - Authentication
  /api/v1/auth/password-reset:
    post:
      description: Alias for /forgot-password endpoint (backwards compatibility).
      operationId: apps_authentication_api_password_reset_alias
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Password Reset Alias
      tags:
      - Authentication
  /api/v1/auth/password-reset/confirm:
    post:
      description: |-
        Confirm password reset with token (simpler API for backwards compatibility).

        This endpoint uses the token stored directly in the user model (password_reset_token)
        rather than Django's default_token_generator with UID encoding.

        Security: Tokens are stored as SHA256 hashes, so we hash the incoming token
        before comparison. This prevents database compromise from exposing usable tokens.
      operationId: apps_authentication_api_confirm_password_reset
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPasswordResetSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Confirm Password Reset
      tags:
      - Authentication
  /api/v1/auth/reset-password:
    post:
      deprecated: true
      description: |-
        DEPRECATED: This endpoint used Django's default_token_generator with UID encoding.

        This flow is no longer supported. All password reset links now use the simpler
        /password-reset/confirm endpoint with hashed token storage.

        If you have an old reset link, please request a new one via /forgot-password.
      operationId: apps_authentication_api_reset_password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordSchema'
        required: true
      responses:
        "410":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Gone
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Reset Password
      tags:
      - Authentication
  /api/v1/auth/verify-email:
    post:
      description: |-
        Verify email address (POST method with enhanced security).

        Security features:
        - Token stored as SHA256 hash (not plaintext)
        - Token has configurable expiration (default 24h via settings.EMAIL_VERIFICATION_TTL_HOURS)
        - Single-use: token cleared after successful verification
        - Dual rate limiting: 20/hour per IP, 5/hour per token

        Args:
            data.token: Verification token (plaintext, will be hashed for lookup)

        Returns:
            200: Success with verification status
            400: Invalid, expired, or already used token
            429: Rate limit exceeded
      operationId: apps_authentication_api_verify_email_post
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Verify Email Post
      tags:
      - Authentication
  /api/v1/auth/accept-invite:
    post:
      description: |-
        Accept a workspace invitation and optionally set password.

        Security features:
        - Uses Invitation model with hashed token storage
        - Atomic transaction prevents race conditions on double-accept
        - Token validated via SHA256 hash comparison
        - Single-use enforcement (used_at timestamp)
        - Sibling invites auto-revoked on acceptance
        - Clears stale verification tokens on acceptance

        Strict email-match guard against an authenticated session: if the
        request carries a valid JWT and the authenticated user's email does NOT
        match the invitation's email, reject with 409 + error_code
        INVITE_EMAIL_MISMATCH. This is enforced on the password path as well as
        the Google sign-in path, as a defense-in-depth check for any caller
        (web, raw API consumers).

        Args:
            data.token: Invitation token (plaintext, will be hashed for lookup)
            data.invite_id: Invitation ID (UUID)
            data.password: New password (optional for existing users with password)

        Returns:
            200: Success with access/refresh tokens
            400: Invalid state (already used, revoked, expired, invalid password)
            404: Invalid token/invite_id combination
            409: Authenticated session email does not match invitation email
      operationId: apps_authentication_api_accept_invitation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInviteSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Accept Invitation
      tags:
      - Authentication
  /api/v1/auth/accept-invite/passwordless:
    post:
      description: |-
        Accept a workspace invitation without setting a password.

        The invitation link becomes the invitee's first sign-in. The account is
        created with set_unusable_password(); setting a password is optional and is
        covered later by the ordinary forgot-password flow.

        The scope guard is the whole security story: this endpoint may only sign in
        an account that has no credential of its own. Anything with a usable
        password or a linked identity provider is refused with the same error codes
        /accept-invite already returns, so the clients need no new error handling.

        Every refusal code here is one the password-less probe on /accept-invite
        already returns for the same token, and reaching any of them requires
        holding a live, unexpired, unused token minted for that exact address. This
        endpoint therefore discloses nothing the existing probe does not.

        Returns:
            200: Success with access/refresh tokens (and Set-Cookie, as /accept-invite)
            400: Invalid state, or an account that must prove itself instead
            404: Invalid token/invite_id combination
            409: Authenticated session email does not match invitation email
      operationId: apps_authentication_api_accept_invitation_passwordless
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInvitePasswordlessSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Conflict
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Accept Invitation Passwordless
      tags:
      - Authentication
  /api/v1/auth/resend-verification:
    post:
      description: Request a verification email without disclosing account state.
      operationId: apps_authentication_api_resend_verification_alias
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Resend Verification Alias
      tags:
      - Authentication
  /api/v1/auth/resend-verification-email:
    post:
      description: Backwards-compatible verification resend path with identical policy.
      operationId: apps_authentication_api_resend_verification_email
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Resend Verification Email
      tags:
      - Authentication
  /api/v1/auth/change-password:
    post:
      description: Change password for authenticated user.
      operationId: apps_authentication_api_change_password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Change Password
      tags:
      - Authentication
  /api/v1/auth/resend-verification-authenticated:
    post:
      description: Resend verification email for authenticated user.
      operationId: apps_authentication_api_resend_verification
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Resend Verification
      tags:
      - Authentication
  /api/v1/auth/feature-flags:
    get:
      description: Get feature flags for authenticated user.
      operationId: apps_authentication_api_get_feature_flags
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Get Feature Flags
      tags:
      - Authentication
  /api/v1/auth/sso/start:
    get:
      description: |-
        Initiate SAML SSO from mobile app.

        Validates the `return` deeplink URL against an allowlist to prevent
        open-redirect abuse, then delegates to the existing SP-initiated SAML
        flow for the given workspace slug.

        Secure mode: when the client supplies `code_challenge`
        (PKCE S256) and `state`, they are stashed server-side so the ACS handler can
        bind them into a one-time code and redirect back with ?code=&state= (NO
        tokens). When absent, the ACS handler falls back to the legacy token-deeplink
        (gated by SSO_LEGACY_TOKEN_DEEPLINK_ENABLED) for current-mobile compat.

        The `spatialflowdev://` dev scheme is only allowed when SSO_ALLOW_DEV_SCHEME
        is True (False in production); `spatialflow://` is always allowed.

        Returns:
            302: Redirect to IdP login page.
            400: Invalid return URL or SAML configuration error.
      operationId: apps_authentication_api_sso_start
      parameters:
      - explode: true
        in: query
        name: return
        required: true
        schema:
          title: Return
          type: string
        style: form
      - explode: true
        in: query
        name: workspace_slug
        required: true
        schema:
          title: Workspace Slug
          type: string
        style: form
      - explode: true
        in: query
        name: code_challenge
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: code_challenge_method
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "302":
          description: Found
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Sso Start
      tags:
      - Authentication
  /api/v1/auth/sso/exchange:
    post:
      description: |-
        Exchange a one-time SSO authorization code + PKCE verifier + state for a
        SpatialFlow JWT pair.

        The code is single-use and consumed on EVERY path (success or failure), so an
        intercepted code cannot be replayed and is useless without the PKCE verifier.

        Returns:
            200: {access_token, refresh_token, token_type, expires_in, user, created}.
            400: PKCE verification failed or state mismatch.
            401: Invalid/expired/already-consumed code, or inactive/unknown user.
      operationId: apps_authentication_api_sso_exchange
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoExchangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoExchangeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Sso Exchange
      tags:
      - Authentication
  /api/v1/auth/oauth/providers:
    get:
      description: |-
        Get list of available OAuth providers.

        Providers are shown only if:
        1. SSO toggle is enabled in Admin UI
        2. Valid credentials are configured (non-placeholder)
      operationId: apps_authentication_oauth_api_get_oauth_providers
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthProvidersResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get Oauth Providers
      tags:
      - Authentication
  /api/v1/auth/oauth/{provider}/authorize:
    get:
      description: |-
        Initialize OAuth flow for a provider.

        When `invite_id` and `invite_token` are both provided, the invitation is
        validated server-side and bound to the AuthOAuthState for recovery on
        the callback. Either-missing falls through to the standard sign-in flow.
      operationId: apps_authentication_oauth_api_oauth_authorize
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: invite_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: invite_token
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Conflict
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Oauth Authorize
      tags:
      - Authentication
  /api/v1/auth/oauth/{provider}/callback:
    get:
      description: |-
        Handle OAuth callback from provider.
        Exchanges code for tokens and creates/links user account.

        OAuth state is always invalidated on callback (success, error, or exception)
        to prevent replay attacks. State tokens are one-time use for CSRF protection.

        When the OAuth state has a bound Invitation (invite-driven SSO flow),
        recovers the FK and routes through invite_sso_service.resolve_for_callback.
        On email match: creates WorkspaceMembership, marks invite used, delivers JWT.
        On mismatch: redirects to accept-invite page with an error code.
      operationId: apps_authentication_oauth_api_oauth_callback
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      - explode: true
        in: query
        name: code
        required: true
        schema:
          title: Code
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: true
        schema:
          title: State
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: error_description
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "302":
          description: Redirect to the frontend OAuth callback or login page
          headers:
            Location:
              description: Frontend continuation URL
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Oauth Callback
      tags:
      - Authentication
  /api/v1/auth/oauth/{provider}/link:
    post:
      description: Link an OAuth provider to an existing authenticated user account.
      operationId: apps_authentication_oauth_api_link_oauth_account
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthLinkResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Link Oauth Account
      tags:
      - Authentication
  /api/v1/auth/oauth/{provider}/disconnect:
    delete:
      description: Disconnect an OAuth provider from user account.
      operationId: apps_authentication_oauth_api_disconnect_oauth_account
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Disconnect Oauth Account
      tags:
      - Authentication
  /api/v1/auth/oauth/user/linked-accounts:
    get:
      description: Get list of OAuth providers linked to user account.
      operationId: apps_authentication_oauth_api_get_linked_accounts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedAccountsResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security:
      - JWTBearer: []
      summary: Get Linked Accounts
      tags:
      - Authentication
  /api/v1/auth/google/token-exchange:
    post:
      description: |-
        Exchange a Google ID token (from mobile SDK) for a SpatialFlow JWT.

        When both `invite_id` and `invite_token` are provided, the request is
        routed through invite_sso_service for strict email-match reconciliation
        against the targeted Invitation. On mismatch, no
        User/SocialAccount/Membership/Invitation mutation occurs. When invite
        params are absent, the call falls through to today's implicit
        email-match auto-join via provision_workspace_for_new_user.
      operationId: apps_authentication_google_mobile_api_google_token_exchange
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleTokenExchangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleTokenExchangeResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Conflict
        "503":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Service Unavailable
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Google Token Exchange
      tags:
      - Authentication
  /api/v1/auth/apple/nonce:
    post:
      description: |-
        Generate a server-side nonce for Apple Sign-In replay protection.

        Clients should call this before initiating Apple Sign-In, then pass
        the returned nonce to the Apple SDK. The nonce claim in the resulting
        identity token will be validated server-side during token exchange.

        Rate limited: 10/min per IP.
      operationId: apps_authentication_apple_mobile_api_apple_nonce
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleNonceResponse'
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Apple Nonce
      tags:
      - Authentication
  /api/v1/auth/apple/token-exchange:
    post:
      description: |-
        Exchange an Apple identity token (from mobile SDK) for a SpatialFlow JWT.

        When both `invite_id` and `invite_token` are provided, the request takes
        the shared explicit-invite branch (mobile_invite_exchange),
        which enforces the strict email match against the targeted Invitation
        before any User mutation and consumes the invitation on success. Without
        it an Apple-only invitee signed in but never joined the workspace.
      operationId: apps_authentication_apple_mobile_api_apple_token_exchange
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleTokenExchangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleTokenExchangeResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Conflict
        "503":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Service Unavailable
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Apple Token Exchange
      tags:
      - Authentication
  /api/v1/auth/saml/detect-method:
    post:
      description: |-
        Detect authentication method for an email address.

        Returns 'saml' with workspace slug if the email domain has a SAML
        configuration, otherwise returns 'password'.
      operationId: apps_authentication_saml_api_detect_method
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectMethodRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectMethodResponse'
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Detect Method
      tags:
      - Authentication
  /api/v1/auth/saml/{slug}/initiate:
    get:
      description: |-
        Initiate SP-initiated SAML login.

        Looks up the SAMLConfiguration for the given workspace slug, creates
        an AuthnRequest via SAMLService, and redirects the browser to the IdP.
      operationId: apps_authentication_saml_api_initiate
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to the identity provider
          headers:
            Location:
              description: Identity provider sign-in URL
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Initiate
      tags:
      - Authentication
  /api/v1/auth/saml/{slug}/metadata:
    get:
      description: |-
        Serve SP metadata XML for IdP configuration.

        Returns the SP metadata as application/xml for the given workspace.
      operationId: apps_authentication_saml_api_metadata
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      responses:
        "200":
          content:
            application/xml:
              schema:
                nullable: true
                type: string
          description: SAML service-provider metadata
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
      summary: Metadata
      tags:
      - Authentication
  /api/v1/auth/saml/{slug}/acs:
    post:
      description: |-
        Assertion Consumer Service endpoint.

        Receives the SAML response (form POST from IdP), validates the assertion,
        signs in a pre-authorized workspace member, issues JWT tokens via HttpOnly
        cookies, and redirects to the frontend callback URL.
      operationId: apps_authentication_saml_api_saml_acs
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      responses:
        "302":
          description: Redirect after processing the SAML assertion
          headers:
            Location:
              description: Frontend or mobile continuation URL
              explode: false
              schema:
                nullable: true
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Saml Acs
      tags:
      - Authentication
  /api/v1/account/health:
    get:
      description: Health check endpoint for account service.
      operationId: apps_accounts_api_account_health_check
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Account Health Check
      tags:
      - Account
  /api/v1/account/me:
    delete:
      description: |-
        Delete the authenticated user's own account. Required for App Store/Play Store compliance.

        Returns 409 while the user is the only owner of a workspace that has other members.
        Promote another owner or delete the workspace first. It also returns 409 when a
        membership was added during the request; retry.
      operationId: apps_accounts_api_delete_own_account
      parameters: []
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
          description: Validation Error
[...]
