openapi: 3.1.0
info:
  description: "Real-time geospatial automation platform API.\n\n## Authentication\n\
    \n**API Key:** Include `X-API-Key` header\n**JWT Token:** Include `Authorization:\
    \ Bearer <token>` header\n\n## Rate Limits\n\n- Authenticated: 1,000 requests\
    \ per hour (per API key, JWT, or session)\n- Anonymous: 100 requests per hour\n\
    \n## Webhook Verification\n\nOutbound webhooks include HMAC-SHA256 signatures\
    \ in `X-SF-Signature` header.\n\n## Support\n\n- Documentation: https://docs.spatialflow.io\n\
    - GitHub: https://github.com/spatialflow/spatialflow\n- Email: support@spatialflow.io\n\
    \    "
  title: SpatialFlow API
  version: v1.1.0
servers:
- description: Production
  url: https://api.spatialflow.io
paths:
  /api/v1/public/status:
    get:
      description: Public status endpoint with admin approval information.
      operationId: apps_public_api_status
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Status
      tags:
      - Public
  /api/v1/public/runtime-config:
    get:
      description: |-
        Get runtime configuration for frontend applications.

        This endpoint provides dynamic configuration that was previously only available
        as build-time environment variables. Allows Admin UI to control feature toggles
        without requiring frontend rebuilds (Issue #119).

        Response includes only safe-to-expose public configuration:
        - Feature toggles (Route Tester, admin approval)
        - Analytics configuration (enabled flag, host URL - NOT API keys)

        Note: API keys and sensitive values are NEVER returned from this endpoint.

        Rate limited: 120/minute per IP to prevent abuse while allowing frequent
        frontend polling (e.g., SPA init, tab reopens).

        Caching: Response is cached for 30 seconds to reduce database lookups.
        ConfigurationService also has its own 5-minute cache layer.
      operationId: apps_public_api_runtime_config
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Runtime Config
      tags:
      - Public
  /api/v1/public/signup:
    post:
      description: |-
        Register for SpatialFlow.io

        Rate limited: 10/hour per IP, 3/hour per email (Issue #67 security hardening).
      operationId: apps_public_api_signup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Signup
      tags:
      - Public
  /api/v1/public/health:
    get:
      description: Health check endpoint for public service
      operationId: apps_public_api_health_check
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Health Check
      tags:
      - Public
  /api/v1/public/websocket-routes:
    get:
      description: |-
        Returns documentation for all available WebSocket endpoints.

        This endpoint helps developers discover and understand the WebSocket
        routes available in the SpatialFlow API.
      operationId: apps_public_api_get_websocket_routes
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Get Websocket Routes
      tags:
      - Public
  /api/v1/public/docs:
    get:
      description: Returns the complete OpenAPI 3.0 specification
      operationId: apps_public_api_get_api_docs
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Get Api Docs
      tags:
      - Public
  /api/v1/public/docs/ui:
    get:
      description: |-
        Interactive Swagger UI for exploring and testing the API

        Note: In production, this would serve an HTML page with Swagger UI.
        For now, returning a redirect to the docs endpoint.
      operationId: apps_public_api_swagger_ui
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Swagger Ui
      tags:
      - Public
  /api/v1/public/contact:
    post:
      description: |-
        Submit a contact/sales inquiry.

        Sends an internal notification to the sales team and a confirmation
        auto-reply to the submitter. Stateless - no database writes.

        Rate limited: 10/hour per IP, 3/hour per email.
      operationId: apps_public_api_contact_sales
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Contact Sales
      tags:
      - Public
  /api/v1/locations:
    post:
      description: |-
        Ingest a single location point.

        This endpoint accepts location updates from external systems and queues them
        for asynchronous processing with GPS jitter reduction filters.

        Authentication: API Key (Bearer token)
        Rate Limit: 1000 requests/minute per API key

        PRD Reference: §3.4 Public Ingest API

        Returns:
            202 Accepted: Location queued for processing
            400 Bad Request: Invalid location data
            401 Unauthorized: Missing or invalid API key
            429 Too Many Requests: Rate limit exceeded

        Example:
            ```bash
            curl -X POST https://api.spatialflow.io/api/v1/locations \
              -H "Authorization: Bearer sf_live_abc123..." \
              -H "Content-Type: application/json" \
              -d '{
                "device_id": "truck-005",
                "lat": 40.7589,
                "lon": -73.9851,
                "ts": "2025-10-01T14:30:00Z",
                "accuracy": 8.5
              }'
            ```
      operationId: apps_public_locations_api_ingest_location
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationPointIn'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationIngestResponse'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Ingest Location
      tags:
      - Public Location Ingest
  /api/v1/locations/batch:
    post:
      description: |-
        Ingest a batch of location points.

        Accepts up to 5000 locations per batch (PRD §3.4). Each location is validated
        and processed asynchronously as a single batch task.

        **Idempotency:** If `idempotency_key` is provided, duplicate requests with the
        same key within 24 hours will return the original response without reprocessing.

        Authentication: API Key (Bearer token)
        Rate Limit: 100 batches/minute per API key

        PRD Reference: §3.4 Public Ingest API

        Returns:
            202 Accepted: Locations queued (includes counts of accepted/rejected)
            400 Bad Request: Invalid batch data
            401 Unauthorized: Missing or invalid API key
            429 Too Many Requests: Rate limit exceeded

        Example:
            ```bash
            curl -X POST https://api.spatialflow.io/api/v1/locations/batch \
              -H "Authorization: Bearer sf_live_abc123..." \
              -H "Content-Type: application/json" \
              -d '{
                "locations": [
                  {"device_id": "truck-005", "lat": 40.7589, "lon": -73.9851, "ts": "2025-10-01T14:30:00Z"},
                  {"device_id": "truck-005", "lat": 40.7590, "lon": -73.9850, "ts": "2025-10-01T14:31:00Z"}
                ],
                "idempotency_key": "batch-20251001-001"
              }'
            ```
      operationId: apps_public_locations_api_ingest_location_batch
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationBatchIn'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationIngestResponse'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Ingest Location Batch
      tags:
      - Public Location Ingest
  /api/v1/locations/stats:
    get:
      description: |-
        Get location ingestion statistics for the authenticated organization.

        Authentication: API Key (Bearer token)

        Returns:
            - total_ingested_today: Total locations ingested today
            - total_ingested_week: Total locations ingested this week
            - devices_active: Number of active devices
            - last_ingest: Timestamp of last location ingestion

        Example:
            ```bash
            curl -X GET https://api.spatialflow.io/api/v1/locations/stats \
              -H "Authorization: Bearer sf_live_abc123..."
            ```
      operationId: apps_public_locations_api_get_ingest_stats
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Get Ingest Stats
      tags:
      - Public Location Ingest
  /api/v1/auth/health:
    get:
      description: Health check for authentication service.
      operationId: apps_authentication_api_health_check
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Health Check
      tags:
      - Authentication
  /api/v1/auth/login:
    post:
      description: |-
        User login endpoint.
        Returns JWT access and refresh tokens, and sets HttpOnly cookies.

        Rate limited: 60/min per IP, 5/min per email (Issue #67 security hardening).
      operationId: apps_authentication_api_login
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Login
      tags:
      - Authentication
  /api/v1/auth/register:
    post:
      deprecated: true
      description: |-
        DEPRECATED: User registration endpoint.

        This endpoint is deprecated and will be removed in a future version.
        Please use /api/v1/public/signup instead, which includes:
        - Admin notifications
        - Enhanced tracking and analytics
      operationId: apps_authentication_api_register
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSchema'
        required: true
      responses:
        "410":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Gone
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Register
      tags:
      - Authentication
  /api/v1/auth/refresh:
    post:
      description: |-
        Refresh access token using refresh token.
        Supports both body payload and HttpOnly cookie for refresh token.

        Rate limited: 30/min per token + 100/min per IP.
      operationId: apps_authentication_api_refresh_token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RefreshTokenSchema'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Refresh Token
      tags:
      - Authentication
  /api/v1/auth/me:
    get:
      description: |-
        Get current authenticated user.
        Requires JWT authentication.
      operationId: apps_authentication_api_get_current_user
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Get Current User
      tags:
      - Authentication
  /api/v1/auth/logout:
    post:
      description: Logout user by revoking all refresh tokens and clearing HttpOnly
        cookies.
      operationId: apps_authentication_api_logout
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Logout
      tags:
      - Authentication
  /api/v1/auth/forgot-password:
    post:
      description: |-
        Request password reset email.

        Rate limited: 10/hour per IP, 3/hour per email (Issue #67 security hardening).
      operationId: apps_authentication_api_forgot_password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Forgot Password
      tags:
      - Authentication
  /api/v1/auth/password-reset:
    post:
      description: Alias for /forgot-password endpoint (backwards compatibility).
      operationId: apps_authentication_api_password_reset_alias
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Password Reset Alias
      tags:
      - Authentication
  /api/v1/auth/password-reset/confirm:
    post:
      description: |-
        Confirm password reset with token (simpler API for backwards compatibility).

        This endpoint uses the token stored directly in the user model (password_reset_token)
        rather than Django's default_token_generator with UID encoding.

        Security: Tokens are stored as SHA256 hashes, so we hash the incoming token
        before comparison. This prevents database compromise from exposing usable tokens.
      operationId: apps_authentication_api_confirm_password_reset
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPasswordResetSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Confirm Password Reset
      tags:
      - Authentication
  /api/v1/auth/reset-password:
    post:
      deprecated: true
      description: |-
        DEPRECATED: This endpoint used Django's default_token_generator with UID encoding.

        This flow is no longer supported. All password reset links now use the simpler
        /password-reset/confirm endpoint with hashed token storage.

        If you have an old reset link, please request a new one via /forgot-password.
      operationId: apps_authentication_api_reset_password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordSchema'
        required: true
      responses:
        "410":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Gone
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Reset Password
      tags:
      - Authentication
  /api/v1/auth/verify-email:
    get:
      description: |-
        Verify email address (GET method, backwards compatible).

        Note: This endpoint accepts plaintext tokens for backwards compatibility with
        existing verification links. New tokens are stored hashed, so it tries both
        plaintext lookup (for old tokens) and hash lookup (for new tokens).
      operationId: apps_authentication_api_verify_email
      parameters:
      - explode: true
        in: query
        name: token
        required: true
        schema:
          title: Token
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Verify Email
      tags:
      - Authentication
    post:
      description: |-
        Verify email address (POST method with enhanced security).

        Security features (Issue #67):
        - Token stored as SHA256 hash (not plaintext)
        - Token has configurable expiration (default 24h via settings.EMAIL_VERIFICATION_TTL_HOURS)
        - Single-use: token cleared after successful verification
        - Dual rate limiting: 20/hour per IP, 5/hour per token

        Args:
            data.token: Verification token (plaintext, will be hashed for lookup)

        Returns:
            200: Success with verification status
            400: Invalid, expired, or already used token
            429: Rate limit exceeded
      operationId: apps_authentication_api_verify_email_post
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Verify Email Post
      tags:
      - Authentication
  /api/v1/auth/verify-email/{token}:
    get:
      description: Verify email address (path parameter format for backwards compatibility).
      operationId: apps_authentication_api_verify_email_path
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          title: Token
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Verify Email Path
      tags:
      - Authentication
  /api/v1/auth/accept-invite:
    post:
      description: |-
        Accept a workspace invitation and optionally set password.

        Security features (Issue #67):
        - Uses Invitation model with hashed token storage
        - Atomic transaction prevents race conditions on double-accept
        - Token validated via SHA256 hash comparison
        - Single-use enforcement (used_at timestamp)
        - Sibling invites auto-revoked on acceptance
        - Clears stale verification tokens on acceptance

        Args:
            data.token: Invitation token (plaintext, will be hashed for lookup)
            data.invite_id: Invitation ID (UUID)
            data.password: New password (optional for existing users with password)

        Returns:
            200: Success with access/refresh tokens
            400: Invalid state (already used, revoked, expired, invalid password)
            404: Invalid token/invite_id combination
      operationId: apps_authentication_api_accept_invitation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInviteSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Accept Invitation
      tags:
      - Authentication
  /api/v1/auth/resend-verification:
    post:
      description: |-
        Resend verification email (unauthenticated alias for backwards compatibility).

        Security (Issue #67):
        - Generates new token (invalidates previous)
        - Token stored as SHA256 hash
        - Token expires per settings.EMAIL_VERIFICATION_TTL_HOURS (default 24h)

        Rate limited to 3 requests per hour per email to prevent abuse.
      operationId: apps_authentication_api_resend_verification_alias
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Resend Verification Alias
      tags:
      - Authentication
  /api/v1/auth/resend-verification-email:
    post:
      description: |-
        Resend verification email (unauthenticated endpoint with rate limiting).
        Allows users who haven't verified their email to request a new verification email.

        Security (Issue #67):
        - Generates new token (invalidates previous)
        - Token stored as SHA256 hash
        - Token expires per settings.EMAIL_VERIFICATION_TTL_HOURS (default 24h)

        Rate limited to 3 requests per hour per email to prevent abuse.
      operationId: apps_authentication_api_resend_verification_email
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendVerificationSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Resend Verification Email
      tags:
      - Authentication
  /api/v1/auth/change-password:
    post:
      description: Change password for authenticated user.
      operationId: apps_authentication_api_change_password
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Change Password
      tags:
      - Authentication
  /api/v1/auth/resend-verification-authenticated:
    post:
      description: Resend verification email for authenticated user.
      operationId: apps_authentication_api_resend_verification
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Resend Verification
      tags:
      - Authentication
  /api/v1/auth/feature-flags:
    get:
      description: Get feature flags for authenticated user.
      operationId: apps_authentication_api_get_feature_flags
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Get Feature Flags
      tags:
      - Authentication
  /api/v1/auth/oauth/providers:
    get:
      description: |-
        Get list of available OAuth providers.

        Providers are shown only if:
        1. SSO toggle is enabled in Admin UI (Issue #119)
        2. Valid credentials are configured (non-placeholder)
      operationId: apps_authentication_oauth_api_get_oauth_providers
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthProvidersResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Get Oauth Providers
  /api/v1/auth/oauth/{provider}/authorize:
    get:
      description: |-
        Initialize OAuth flow for a provider.
        Returns authorization URL to redirect user to.
      operationId: apps_authentication_oauth_api_oauth_authorize
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      - explode: true
        in: query
        name: next
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizeResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Oauth Authorize
  /api/v1/auth/oauth/{provider}/callback:
    get:
      description: |-
        Handle OAuth callback from provider.
        Exchanges code for tokens and creates/links user account.

        OAuth state is always invalidated on callback (success, error, or exception)
        to prevent replay attacks. State tokens are one-time use for CSRF protection.
      operationId: apps_authentication_oauth_api_oauth_callback
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      - explode: true
        in: query
        name: code
        required: true
        schema:
          title: Code
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: true
        schema:
          title: State
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: error_description
        required: false
        schema:
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Oauth Callback
  /api/v1/auth/oauth/{provider}/link:
    post:
      description: Link an OAuth provider to an existing authenticated user account.
      operationId: apps_authentication_oauth_api_link_oauth_account
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthLinkResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Link Oauth Account
  /api/v1/auth/oauth/{provider}/disconnect:
    delete:
      description: Disconnect an OAuth provider from user account.
      operationId: apps_authentication_oauth_api_disconnect_oauth_account
      parameters:
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          title: Provider
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Disconnect Oauth Account
  /api/v1/auth/oauth/user/linked-accounts:
    get:
      description: Get list of OAuth providers linked to user account.
      operationId: apps_authentication_oauth_api_get_linked_accounts
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      summary: Get Linked Accounts
  /api/v1/auth/google/token-exchange:
    post:
      description: Exchange a Google ID token (from mobile SDK) for a SpatialFlow
        JWT.
      operationId: apps_authentication_google_mobile_api_google_token_exchange
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleTokenExchangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleTokenExchangeResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Service Unavailable
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Google Token Exchange
  /api/v1/auth/apple/nonce:
    post:
      description: |-
        Generate a server-side nonce for Apple Sign-In replay protection.

        Clients should call this before initiating Apple Sign-In, then pass
        the returned nonce to the Apple SDK. The nonce claim in the resulting
        identity token will be validated server-side during token exchange.

        Rate limited: 10/min per IP.
      operationId: apps_authentication_apple_mobile_api_apple_nonce
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleNonceResponse'
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Apple Nonce
  /api/v1/auth/apple/token-exchange:
    post:
      description: Exchange an Apple identity token (from mobile SDK) for a SpatialFlow
        JWT.
      operationId: apps_authentication_apple_mobile_api_apple_token_exchange
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppleTokenExchangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppleTokenExchangeResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "503":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Service Unavailable
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Apple Token Exchange
  /api/v1/auth/saml/detect-method:
    post:
      description: |-
        Detect authentication method for an email address.

        Returns 'saml' with workspace slug if the email domain has a SAML
        configuration, otherwise returns 'password'.
      operationId: apps_authentication_saml_api_detect_method
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectMethodRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectMethodResponse'
          description: OK
        "429":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Too Many Requests
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Detect Method
  /api/v1/auth/saml/{slug}/initiate:
    get:
      description: |-
        Initiate SP-initiated SAML login.

        Looks up the SAMLConfiguration for the given workspace slug, creates
        an AuthnRequest via SAMLService, and redirects the browser to the IdP.
      operationId: apps_authentication_saml_api_initiate
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Initiate
  /api/v1/auth/saml/{slug}/metadata:
    get:
      description: |-
        Serve SP metadata XML for IdP configuration.

        Returns the SP metadata as application/xml for the given workspace.
      operationId: apps_authentication_saml_api_metadata
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      responses:
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: Internal Server Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Metadata
  /api/v1/auth/saml/{slug}/acs:
    post:
      description: |-
        Assertion Consumer Service endpoint.

        Receives the SAML response (form POST from IdP), validates the assertion,
        provisions or links the user, issues JWT tokens via HttpOnly cookies, and
        redirects to the frontend callback URL.
      operationId: apps_authentication_saml_api_saml_acs
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          title: Slug
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Saml Acs
  /api/v1/account/health:
    get:
      description: Health check endpoint for account service.
      operationId: apps_accounts_api_account_health_check
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      summary: Account Health Check
      tags:
      - Account
  /api/v1/account/me:
    delete:
      description: Delete the authenticated user's own account. Required for App Store/Play
        Store compliance.
      operationId: apps_accounts_api_delete_own_account
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Delete Own Account
      tags:
      - Account
    get:
      description: Get current user profile information.
      operationId: apps_accounts_api_get_user_profile
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Get User Profile
      tags:
      - Account
    put:
      description: Update current user profile information.
      operationId: apps_accounts_api_update_user_profile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Update User Profile
      tags:
      - Account
  /api/v1/account/api-keys:
    get:
      description: Get all API keys for the authenticated user.
      operationId: apps_accounts_api_get_api_keys
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ApiKeyResponse'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Get Api Keys
      tags:
      - Account
    post:
      description: Generate a new API key for the authenticated user.
      operationId: apps_accounts_api_create_api_key
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreateRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Create Api Key
      tags:
      - Account
  /api/v1/account/api-keys/{api_key_id}/rotate:
    post:
      description: |-
        Rotate an API key.

        Creates a new API key with the same permissions and marks the old one for expiration.
        The old key remains active for the grace period (default 7 days).
      operationId: apps_accounts_api_rotate_api_key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          title: Api Key Id
          type: string
        style: simple
      - explode: true
        in: query
        name: grace_period_days
        required: false
        schema:
          default: 7
          title: Grace Period Days
          type: integer
        style: form
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
          description: Created
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Rotate Api Key
      tags:
      - Account
  /api/v1/account/api-keys/{api_key_id}/expiration:
    patch:
      description: |-
        Set or update expiration date for an API key.

        Pass expires_at as ISO 8601 datetime string or null to remove expiration.
      operationId: apps_accounts_api_set_api_key_expiration
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          title: Api Key Id
          type: string
        style: simple
      - explode: true
        in: query
        name: expires_at
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  nullable: true
                  type: string
                title: Response
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Set Api Key Expiration
      tags:
      - Account
  /api/v1/account/api-keys/expiring:
    get:
      description: |-
        List API keys expiring within the specified number of days.

        Default: 30 days
      operationId: apps_accounts_api_list_expiring_api_keys
      parameters:
      - explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          title: Days
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  additionalProperties: {}
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: List Expiring Api Keys
      tags:
      - Account
  /api/v1/account/api-keys/{api_key_id}:
    delete:
      description: Delete a specific API key.
      operationId: apps_accounts_api_delete_api_key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          title: Api Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Delete Api Key
      tags:
      - Account
    get:
      description: Get a specific API key by its ID.
      operationId: apps_accounts_api_get_api_key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          title: Api Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Get Api Key
      tags:
      - Account
    put:
      description: Update an API key's settings.
      operationId: apps_accounts_api_update_api_key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          title: Api Key Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                title: Response
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Update Api Key
      tags:
      - Account
  /api/v1/account/api-keys/{api_key_id}/regenerate:
    post:
      description: Regenerate an existing API key.
      operationId: apps_accounts_api_regenerate_api_key
      parameters:
      - explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          title: Api Key Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreateResponse'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Regenerate Api Key
      tags:
      - Account
  /api/v1/account/notifications:
    get:
      description: Get user notifications.
      operationId: apps_accounts_api_get_notifications
      parameters:
      - explode: true
        in: query
        name: unread_only
        required: false
        schema:
          default: false
          title: Unread Only
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Get Notifications
      tags:
      - Account
  /api/v1/account/notifications/{notification_id}/read:
    post:
      description: Mark a notification as read.
      operationId: apps_accounts_api_mark_notification_read
      parameters:
      - explode: false
        in: path
        name: notification_id
        required: true
        schema:
          title: Notification Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Mark Notification Read
      tags:
      - Account
  /api/v1/account/notifications/read-all:
    post:
      description: Mark all notifications as read.
      operationId: apps_accounts_api_mark_all_notifications_read
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: {}
                title: Response
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Validation Error
      security:
      - JWTBearer: []
      - APIKeyBearer: []
      summary: Mark All Notifications Read
      tags:
      - Account
  /api/v1/account/privacy/erasure:
    post:
      description: |-
        Create a privacy data erasure job (GDPR compliance).

        This endpoint allows workspace owners and admins to delete location
        and event data for GDPR Article 17 (Right to be Forgotten) compliance.

        **Authentication:** JWT token required
        **Authorization:** Owner or Admin role only

        **Scope Options:**
        - `workspace`: Delete all data for the workspace
        - `device`: Delete data for specific devices (requires device_ids)
        - `date_range`: Delete data within a time range (requires from_date and to_date)
        - `tag`: Delete data with specific tags (requires tags)

        **Dry Run Mode:**
        Set `dry_run: true` to estimate deletions without actually deleting data.
        Always run dry-run first to verify the scope.

        **Example:**
        ```json
        {
            "scope": "device",
            "device_ids": ["truck-005", "truck-009"],
            "from_date": "2024-01-01T00:00:00Z",
            "to_date": "2024-12-31T23:59:59Z",
            "dry_run": true
        }
        ```

        **PRD Reference:** §4.5 Privacy Erasure API
        **Roadmap:** Phase 2, Task 2.1
      operationId: apps_accounts_api_create_erasure_job
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyErasureRequest'
        required: true
[...]
